.cantidad-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px; /* Espaciado entre los elementos */
}

.cantidad-container button {
    flex-shrink: 0; /* Los botones no se reducen */
}

.cantidad-container span {
    min-width: 30px; /* Espacio mínimo para el número */
    text-align: center; /* Centra el texto */
    font-weight: bold;
}


@media (max-width: 768px) {
    .cantidad-container {
        flex-direction: column; /* Cambia la dirección a vertical */
        align-items: center; /* Centra los botones */
        gap: 10px; /* Aumenta el espacio entre los elementos */
    }

    .cantidad-container button {
        width: 40px; /* Ajusta el tamaño de los botones */
    }

    .cantidad-container span {
        min-width: 0; /* Permite que el número ocupe menos espacio */
    }
}


