/* -------------------------------------- HEADER -------------------------------*/
header {
    position: sticky;
    top: 0px;
    z-index: 1000;
    width: 100%;
    max-width: 1400px;
}

#logoJS {
    height: 50px;
    border-radius: 50%;
}

/* marquee  */
.marquee {
    width: 100%;
    overflow: hidden;
    background: black;
    color: white;
    padding: 10px 0;
    top: 15vh;
    position: sticky;
}

.marquee-content {
    display: flex;
    animation: marquee 30s linear infinite;
}

.marquee-content span {
    padding: 0 2rem;
    white-space: nowrap;
    background: black;
    color: white;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* ---------------------- FOOTER ---------------------- */

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 5px; 
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin-top: 0; 
}




.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.footer-social a {
    color: white;
    font-size: 1.5rem;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 0.9rem;
    width: 100%;
}


/* Estilos solo para la sección de enlaces útiles */
.enlaces-utiles {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enlaces-utiles h2 {
    font-size: 1.5rem;
    margin-bottom: 10px; 
}

.enlaces-utiles ul.enlaces-lista {
    list-style: none;
    padding-left: 0;
    margin-top: 5px; 
}

.enlaces-utiles ul.enlaces-lista li {
    margin-bottom: 5px; 
}

.enlaces-utiles ul.enlaces-lista li a {
    text-decoration: none;
    color: white; 
}

.enlaces-utiles ul.enlaces-lista li a:hover {
    text-decoration: underline; 
}
